{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>

  <!--
  <div id="action-buttons">
    <a class="button primary big" href="https://postera.ai/moonshot/" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">COVID Moonshot</a>
    <a class="button outline big" href="members" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">Our Team</a>
    <a class="button secondary big" href="https://static1.squarespace.com/static/530562f9e4b06fd3c041e221/t/61788fa74126c33373345e2f/1635291049659/ASAP+-+Overall+component.pdf" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">Our Concept</a>
  </div>
  -->

  <!-- Graphic showing organization of the Center -->
  <a href="https://static1.squarespace.com/static/530562f9e4b06fd3c041e221/t/61788fa74126c33373345e2f/1635291049659/ASAP+-+Overall+component.pdf"><img src="https://images.squarespace-cdn.com/content/v1/530562f9e4b06fd3c041e221/1635291137743-ZD8PLVRDUXKHR1XCMW8F/ASAP-overview-twitter.jpg?format=2500w" alt="ASAP is organized into a series of successive stages of the drug discovery pipeline."></a>

</div>

{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
