{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
</div>
<div id="main">
{{.Content}}

<!-- Investigators -->

<h2>Principal Investigators</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if in .role "Principal Investigator" }}
  <div class="row gutters">
    {{ partial "person" . }}
  </div>
  {{ end }}
{{ end }}
</ul>

<!-- Administrative staff -->

<!--
<h2>Administrative Staff</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if eq .role "Administrative Director" }}
  <div class="row gutters">
    {{ partial "person" . }}
  </div>
  {{ end }}
{{ end }}
</ul>
-->

<!-- Project Leads -->

<h2>Project Leads</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if in .role "Project Lead" }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
</ul>

<!-- Core Leads -->

<h2>Core Leads</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if in .role "Core Lead" }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
</ul>

<!-- Administrative Core -->

<h2>Administrative Core</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if in .lab "Administrative Core" }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
</ul>

<!-- Investigators -->

<h2>Co-Investigators</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if in .role "Co-Investigator" }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
</ul>

<!-- Scientists -->
{{ $scientist_roles := slice "Scientist" "Scientific Coordinator" "Post Doc" "Research Assistant" "Other Personnel" }}

<h2>Scientists and Collaborators</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if in $scientist_roles .role }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
</ul>

<!-- Collaborators -->

<!--
<h2>Collaborators</h2>

<ul>
{{ range $.Site.Data.members }}
  {{ if in .role "Collaborator" }}
    {{ partial "person" . }}
  {{ end }}
{{ end }}
</ul>
-->

<!-- End -->

</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
