{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}</p>
</div>
<div id="main">

<!-- Define preferred order for viral families -->
<!-- {{ $viral_families := slice "coronaviridae" "flaviviridae" "togaviridae" "picornaviridae" "influenzaviridae"}} -->
{{ $viral_families := slice "coronaviridae" "flaviviridae" "picornaviridae"}}

<!-- Define width for icons -->
<!-- TODO: Can we shrink width as needed to make sure we fit on mobile without wrapping icons? -->
{{ $icon_width := "34" }}


<div class="container">

  <!-- Header -->
  <div class="row"> 
    <div class="col-1">
      <!-- Family -->
    </div>
    <div class="col-11">  
      <div class="row"> 
        <div class="col-4">
          <h3>Discovery Program</h3>
        </div>
        <div class="col-8">
          <a href="#funding-source"><img title="Funding Source" width="{{ $icon_width }}" src="img/icons/funding-source.png"></a>

          <a href="#targeting-opportunity"><img title="Molecular Target" width="{{ $icon_width }}" src="img/icons/molecular-target.png"></a>
          <a href="#targeting-opportunity"><img title="Targeting Opportunity" width="{{ $icon_width }}" src="img/icons/target.png"></a>

          <a href="#molecules"><img title="Molecules" width="{{ $icon_width }}" src="img/icons/molecule.png"></a>
          <a href="#structures"><img title="Structures" width="{{ $icon_width }}" src="img/icons/structure.png"></a>
          <a href="#publications"><img title="Publications" width="{{ $icon_width }}" src="img/icons/papers.png"></a>

          <a href="#circulating-variants"><img title="Circulating Variants" width="{{ $icon_width }}" src="img/icons/DMS.png"></a>
          <a href="#target-product-profile"><img title="Target Product Profile (TPP)" width="{{ $icon_width }}" src="img/icons/TPP.png"></a>
          <a href="#target-enabling-package"><img title="Target Enabling Package (TEP)" width="{{ $icon_width }}" src="img/icons/structure.png"></a>
          <a href="#target-candidate-profile"><img title="Target Candidate Profile (TCP)" width="{{ $icon_width }}" src="img/icons/TCP.png"></a>
          <a href="#assay-cascade"><img title="Assay cascade" width="{{ $icon_width }}" src="img/icons/assay-cascade.png"></a>
          <a href="#hit-to-lead"><img title="Hit-to-lead progression" width="{{ $icon_width }}" src="img/icons/hit-to-lead.png"></a>
          <a href="#covalent-targeting"><img title="Covalent targeting" width="{{ $icon_width }}" src="img/icons/covalent-targeting.png"></a>
          <a href="#lead-optimization"><img title="Lead optimization" width="{{ $icon_width }}" src="img/icons/lead-optimization.png"></a>
          <a href="#preclinical-programs"><img title="Preclinical (IND-enabling) studies" width="{{ $icon_width }}" src="img/icons/preclinical.png"></a>
          <a href="#investigational-new-drugs"><img title="Investigational New Drug (IND) approval" width="{{ $icon_width }}" src="img/icons/ind.png"></a>
          <a href="#clinical-trials"><img title="Clinical trials" width="{{ $icon_width }}" src="img/icons/clinical-trials.png"></a>
          <a href="#new-drug-approval"><img title="New Drug Approval (NDA)" width="{{ $icon_width }}" src="img/icons/NDA.png"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Build a priority list for programs based on number of started stages for each program -->
  {{ $programs := slice }}
  {{ range $program := $.Site.Data.programs }}
    {{ $in_progress := 0 }}
    {{ range $stage := $program }}      
      {{ if not (eq $stage.status "not-started")  }}
        {{ $in_progress = add $in_progress 1 }}
      {{ end }}
    {{ end }}
    {{ $program = merge $program (dict "priority" $in_progress) }}
    {{ $programs = $programs | append (slice $program) }} 
  {{ end }}

  <!-- Iterate through $.Site.Data.programs in descending order based on the value in $program_progress -->

  
  <!-- List all programs for each viral family -->
  {{ $not_started := "not-started" }}
  {{ range $viral_family := $viral_families }}
    <div class="row"> 
      <!-- Show the viral family -->
      <!-- This will probably break the view on Phones/small screens. There's a way in bootstrap to adjust this so that the icons are smaller. https://getbootstrap.com/docs/4.1/layout/grid/. MatteoFerla might know how to do this!-->
      <div class="col-1" style="display: flex;  align-items: center;">
        <a href="../outputs/viral-families/#{{ $viral_family }}"><img width="80" src="img/viruses/{{ $viral_family }}.png"></a>
      </div>
      <!-- List the programs for this family -->
      <div class="col-11">  
        {{ range sort $programs "priority" "desc" }}
          {{ if in .overview.family $viral_family }}
          {{ $program_nickname := .overview.program_nickname }}          
            <div class="container">
              <div class="row"> 
                <div class="col-4" style="display: flex;  align-items: center;">
                  <b>{{ .overview.name }}</b>
                </div>
                <div class="col-8">
                  <a href="{{ .funding_source.url }}"> <img title="Funding source for {{ .overview.name }}" width="{{ $icon_width }}" src="img/icons/{{ .funding_source.img }}"></a>

                  <a href="{{ .overview.url }}"> <img title="Target for {{ .overview.name }}" width="{{ $icon_width }}" src="img/targets/{{ .overview.img }}"></a>

                  <a href="/outputs/targeting-opportunities/#{{ $program_nickname }}"><img title="Targeting opportunity for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .targeting_opportunity.status }}.png"></a>
              
                  <a href="/outputs/molecules/#{{ $program_nickname }}"><img title="Molecules" width="{{ $icon_width }}" src="img/icons/pipeline_link_context_{{ $viral_family }}.png"></a>
                  <a href="#structures"><img title="Structures" width="{{ $icon_width }}" src="img/icons/pipeline_link_context_{{ $viral_family }}.png"></a>
                  <a href="../outputs/publications/"><img title="Publications" width="{{ $icon_width }}" src="img/icons/pipeline_link_context_{{ $viral_family }}.png"></a>

                  <!-- TODO: Refactor this into a method (?) to simplify, and ensure links only generated when .url target is populated -->
                  <a href="/outputs/circulating-variants/#{{ $program_nickname }}"> <img title="Analysis of circulating variants for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .circulating_variants.status | default $not_started }}.png"></a>

                  <a href="/outputs/target-product-profiles/#{{ .TPP.id }}"> <img title="Target Product Profile (TPP) for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .TPP.status | default $not_started }}.png"></a>
                  <!-- TODO: Can we pull TEP status from the TEP data directly? -->
                  <a href="/outputs/target-enabling-packages/#{{ $program_nickname }}">  <img title="Target Enabling Package (TEP) for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .TEP.status               | default $not_started }}.png"></a>
                  <a href="/outputs/target-candidate-profiles/#{{ $program_nickname }}"> <img title="Target Candidate Profile (TCP) for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .TCP.status               | default $not_started }}.png"></a> 
                  <a href="/outputs/assay-cascades/#{{ $program_nickname }}"> <img title="Assay cascade for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .assay_cascade.status     | default $not_started }}.png"></a>
                  <a href="/outputs/molecules/#{{ $program_nickname }}">      <img title="Hit-to-lead for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .hit_to_lead.status       | default $not_started }}.png"></a> 
                  <a href="/outputs/molecules/#{{ $program_nickname }}"><img title="Covalent targeting for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .covalent_targeting.status | default $not_started }}.png"></a>
                  <a href="/outputs/molecules/#{{ $program_nickname }}"><img title="Lead optimization for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .lead_optimization.status | default $not_started }}.png"></a>
                  <a href="/outputs/preclinical/#{{ $program_nickname }}">      <img title="Preclinical (IND-enabling) studies for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .preclinical.status       | default $not_started }}.png"></a>
                  <a href="/outputs/investigational-new-drugs/#{{ $program_nickname }}">              <img title="Investigational New Drug (IND) approval for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .IND.status               | default $not_started }}.png"></a>
                  <a href="/outputs/clinical-trials/#{{ $program_nickname }}">         <img title="Clinical trial for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .clinical.status          | default $not_started }}.png"></a>
                  <a href="/outputs/new-drug-approvals/#{{ $program_nickname }}">              <img title="New Drug Approval (NDA) for {{ .overview.name }}" width="{{ $icon_width }}" src="img/status/{{ $viral_family }}_{{ .NDA.status               | default $not_started }}.png"></a>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
      <!-- Add whitespace between virus particles to divide them slightly -->
      &nbsp
    </div>
  {{ end }}

  <center>
    <i>Click on any shaded box to view data and resources associated with that stage.</i>
  </center>

  <br>

</div>

<br>
<hr>

{{.Content}}

<!-- End -->

</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
