{{ $icon_width := 40 }}
{{ $stage_width := 100 }}
{{ $font := resources.GetRemote "https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Black.ttf" }}
{{ $fontsize := 26 }}

<!-- Get TEP in-progress status -->
{{ $TEP_status := getCSV "," "https://docs.google.com/spreadsheets/d/e/2PACX-1vQit4u7d3lBlnX0Tu79Ep6pxSLiCvDn1PppulKgs5-C0SM0jlT9C491wstbZAJk7nm5BhJUlc9Op1gA/pub?gid=125511302&single=true&output=csv" }}

<!-- TODO: How should we sort the target data? -->
{{ $TEP_index := 0 }}
{{ range $.Site.Data.outputs.TEPs }}
    {{ $TEP_index = add $TEP_index 1 }}
    {{ $program_code := .TEP.asap.program_code }}

    <!-- Title -->
    {{ with .TEP.name }} {{ printf "### %s" . | markdownify }} {{ end }}
    
    <!-- Status is shown as stages instead-->
    <!--
    <b>Status:</b> 
    {{ if eq .TEP.status "in-progress" }} <span class="label warning">In progress</span> {{ end }}
    {{ if eq .TEP.status "completed" }} <span class="label success">Completed</span> {{ end }}
    {{ if eq .TEP.status "not-started" }} <span class="label error">Not started</span> {{ end }}    
    <br>
    -->

    <!-- Pull TEP stages and override YAML if found in online TEP status spreadsheet -->
    <!-- default -->
    {{ $TEP_stages := dict 
        "crystallography_construct" "not-started"
        "assay_construct" "not-started"
        "robust_crystal" "not-started"
        "biophysical_assay" "not-started"
        "biochemical_assay" "not-started"
        "fragment_screen" "not-started"
        "tep_evaluation" "not-started"
    }}
    <!-- YAML -->    
    {{ if .TEP.stages }}        
        {{ $TEP_stages = .TEP.stages }} 
    {{ end }}
    <!-- online TEP spreadsheet -->
    {{ range $row := (after 5 $TEP_status) }}
        <!-- If program code matches, pull data from spreadsheet instead -->
        {{ if eq $program_code (index $row 7) }}
            {{ $TEP_stages = dict 
                "crystallography_construct" (index $row 11)
                "assay_construct" (index $row 12)
                "robust_crystal" (index $row 14)
                "biophysical_assay" (index $row 15)
                "biochemical_assay" (index $row 16)
                "fragment_screen" (index $row 17)
                "tep_evaluation" (index $row 18)
            }}
        {{ end }}
    {{ end }}
    <!-- DEBUG -->
        
    <!-- Gene | Uniprot | EC -->
    <div class="row align-center">    
        {{ with .TEP.gene_url }} <a href="{{ . }}" > <span class="label success"> Genetic source </span> </a> &nbsp; {{ end }}
        {{ with .TEP.gene }} <a href="{{ printf "https://www.ncbi.nlm.nih.gov/protein/%s" . }}" > <span class="label success"> Gene: {{ . | markdownify }} </span> </a> &nbsp; {{ end }}
        {{ with .TEP.uniprot }} <a href="{{ printf "https://www.uniprot.org/uniprotkb/%s" . }}" > <span class="label error">  Uniprot: {{ . | markdownify }} </span> </a> &nbsp; {{ end }}
        {{ with .TEP.EC }} <a href="{{ printf "https://www.ebi.ac.uk/intenz/query?cmd=SearchEC&ec=%s" . }}" > <span class="label warning"> EC: {{ . | markdownify }} </span> </a> {{ end }}
    </div>
    <br>

    <!-- TEP pipeline stage status -->
    <!-- TODO: Simplify this with partials? -->   
    <div class="row align-center">
        <table class="unstyled">
            <tr>
                <td>
                    <!-- Crystallography construct -->
                    {{ $text := "Crystallography construct" }}
                    {{ $status := $TEP_stages.crystallography_construct }}

                    {{ $icon := "not-started" }}
                    {{ if strings.Contains $status "completed" }}
                        {{ $icon = "completed" }}
                    {{ else if strings.Contains $status "in-progress" }}
                        {{ $icon = "in-progress" }}
                    {{ end }}
                    {{ $filename := print "images/icons/tep-stage-" $icon ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x88" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#000000"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 20
                    "font" $font
                    ))}}
                    {{ with $image }}
                        <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                    <br>
                    <!-- Assay construct -->
                    {{ $text := "Assay construct" }}
                    {{ $status := $TEP_stages.assay_construct }}

                    {{ $icon := "not-started" }}
                    {{ if strings.Contains $status "completed" }}
                        {{ $icon = "completed" }}
                    {{ else if strings.Contains $status "in-progress" }}
                        {{ $icon = "in-progress" }}
                    {{ end }}
                    {{ $filename := print "images/icons/tep-stage-" $icon ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x88" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#000000"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 20
                    "font" $font
                    ))}}
                    {{ with $image }}
                        <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                </td>
                <td>
                    <!-- Biophysical assay -->
                    {{ $text := "Biophysical assay" }}
                    {{ $status := $TEP_stages.biophysical_assay }}

                    {{ $icon := "not-started" }}
                    {{ if strings.Contains $status "completed" }}
                        {{ $icon = "completed" }}
                    {{ else if strings.Contains $status "in-progress" }}
                        {{ $icon = "in-progress" }}
                    {{ end }}
                    {{ $filename := print "images/icons/tep-stage-" $icon ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x55" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#000000"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 10
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                    <br>
                    <!-- Robust crystal -->
                    {{ $text := "Robust crystals" }}
                    {{ $status := $TEP_stages.robust_crystal }}

                    {{ $icon := "not-started" }}
                    {{ if strings.Contains $status "completed" }}
                        {{ $icon = "completed" }}
                    {{ else if strings.Contains $status "in-progress" }}
                        {{ $icon = "in-progress" }}
                    {{ end }}
                    {{ $filename := print "images/icons/tep-stage-" $icon ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x55" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#000000"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 10
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                    <br>
                    <!-- Biochemical assay -->
                    {{ $text := "Biochemical assay" }}
                    {{ $status := $TEP_stages.biochemical_assay }}

                    {{ $icon := "not-started" }}
                    {{ if strings.Contains $status "completed" }}
                        {{ $icon = "completed" }}
                    {{ else if strings.Contains $status "in-progress" }}
                        {{ $icon = "in-progress" }}
                    {{ end }}
                    {{ $filename := print "images/icons/tep-stage-" $icon ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x55" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#000000"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 10
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                </td>
                <td>
                    <!-- X-ray fragment screen -->
                    {{ $text := "X-ray fragment screen and structural analysis" }}
                    {{ $status := $TEP_stages.fragment_screen }}

                    {{ $icon := "not-started" }}
                    {{ if strings.Contains $status "completed" }}
                        {{ $icon = "completed" }}
                    {{ else if strings.Contains $status "in-progress" }}
                        {{ $icon = "in-progress" }}
                    {{ end }}
                    {{ $filename := print "images/icons/tep-stage-" $icon ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x180" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#000000"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 60
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                </td>
                <td>
                    <!-- Compound design and TEP evaluation -->
                    {{ $text := "Compound design and TEP validation" }}
                    {{ $status := $TEP_stages.tep_evaluation }}
                    {{ $icon := "not-started" }}
                    {{ if strings.Contains $status "completed" }}
                        {{ $icon = "completed" }}
                    {{ else if strings.Contains $status "in-progress" }}
                        {{ $icon = "in-progress" }}
                    {{ end }}
                    {{ $filename := print "images/icons/tep-stage-" $icon ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x180" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#000000"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 60
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                </td>
            </tr>
            
        </table>
    </div>
    <br>

    <!-- 
    {{ with .TEP.gene }} {{ printf "**Gene:** [%s](https://www.ncbi.nlm.nih.gov/protein/%s)" . . | markdownify }} {{ end }} |
    {{ with .TEP.uniprot }} {{ printf "**Uniprot:** [%s](https://www.uniprot.org/uniprotkb/%s)" . . | markdownify }} {{ end }} |
    {{ with .TEP.EC }} {{ printf "**EC:** [%s](https://www.genome.jp/dbget-bin/www_bget?ec:/%s)" . . | markdownify }} {{ end }} <br>
    -->

    <!-- Header information -->
    <div class="prettybox warning" data-component="prettybox"> 
    <b>Target Nominator:</b> {{ .TEP.nominator }} <br>
    <b>Target PI:</b> {{ .TEP.investigator }} <br>
    <b>Therapeutic Area(s):</b> {{ .TEP.therapeutic_area }} <br>
    <b>Disease Relevance:</b> {{ .TEP.disease_relevance }} <br>
    <b>Viral family:</b> {{ .TEP.asap.viral_family }} <br>
    <b>Viruses:</b> {{ .TEP.asap.viruses }} <br>
    <b>Authors:</b> {{ with .TEP.contributors }}{{ delimit . ", "}}{{ end }} <br> 
    </div>
    
    {{ with .TEP.summary }}
    <div class="prettybox success" data-component="prettybox"> 
        <h4>Summary of Project</h4>
        {{ . | markdownify }} 
    </div>
    {{ end }}
    
    {{ with .TEP.scientific_background }}
    <div class="prettybox focus" data-component="prettybox">
        <h4>Scientific Background</h4>
        {{ . | markdownify }}
    </div>
    {{ end }}

    {{ with .TEP.conclusion }}
    <div class="prettybox error" data-component="prettybox">
        <h4>Conclusion</h4>
        {{ . | markdownify }}
    </div>
    {{ end }}

    {{ if .TEP.resources }}
        <h4>Resources</h4>
    {{ end }}

    {{ $resource_index := 0 }}
    {{ range .TEP.resources }}
    {{ $resource_index = add $resource_index 1 }}

    <div class="prettybox" data-component="prettybox">
        <div class="container">
            <div class="row"> 
              <div class="col-1" style="display: flex;  align-items: center;">
                <a href="{{ .url }}"><img title="Molecules" width="{{ $icon_width }}" src="../img/icons/{{ .type }}.png"></a>
              </div>
              <div class="col-11">                
                <b> {{ .name | markdownify }}</b> <br>
                {{ with .description }} {{ . | markdownify }} <br> {{ end }}

                {{ .url | markdownify }}
                <cite>[ {{ .date }} ]</cite> 
                <br>

                {{ with .protocol }} 
                <button data-component="toggleme" data-target="#togglebox-protocol-{{ $TEP_index }}-{{ $resource_index }}" data-text="Hide Protocol">Protocol</button>
                <div id="togglebox-protocol-{{ $TEP_index }}-{{ $resource_index }}" class="hide">
                    <cite> {{ . | markdownify }} </cite>
                </div>
                {{ end }}                

                {{ with .details }} 
                <button data-component="toggleme" data-target="#togglebox-details-{{ $TEP_index }}-{{ $resource_index }}" data-text="Hide Details">Details</button>
                <div id="togglebox-details-{{ $TEP_index }}-{{ $resource_index }}" class="hide">
                    {{ . | markdownify }}
                </div>
                {{ end }}                

            </div>
            </div>
        </div>
    </div>    

    {{ end }}

    <hr>

{{ end }}