{{ $icon_width := 40 }}
{{ $stage_width := 100 }}
{{ $font := resources.GetRemote "https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Black.ttf" }}
{{ $fontsize := 26 }}

<!-- TODO: How should we sort the target data? -->
{{ $TEP_index := 0 }}
{{ range $.Site.Data.outputs.TEPs }}
    {{ $TEP_index = add $TEP_index 1 }}

    <!-- Title -->
    {{ with .TEP.name }} {{ printf "### %s" . | markdownify }} {{ end }}

    <!-- Status -->
    <b>Status:</b> 
    {{ if eq .TEP.status "in-progress" }} <span class="label warning">In progress</span> {{ end }}
    {{ if eq .TEP.status "completed" }} <span class="label success">Completed</span> {{ end }}
    {{ if eq .TEP.status "not-started" }} <span class="label error">Not started</span> {{ end }}    
    <br>

    <!-- Gene | Uniprot | EC -->
    <div class="row align-center">    
        <a href="{{ printf "https://www.ncbi.nlm.nih.gov/protein/%s" .TEP.gene }}" > <span class="label success"> Gene: {{ .TEP.gene | markdownify }} </span> </a> &nbsp;
        <a href="{{ printf "https://www.uniprot.org/uniprotkb/%s" .TEP.uniprot }}" > <span class="label error">  Uniprot: {{ .TEP.uniprot | markdownify }} </span> </a> &nbsp;
        <a href="{{ printf "https://www.ebi.ac.uk/intenz/query?cmd=SearchEC&ec=%s" .TEP.EC }}" > <span class="label warning"> EC: {{ .TEP.EC | markdownify }} </span> </a> 
    </div>
    <br>

    <!-- TEP pipeline stage status -->
    <!-- TODO: Simplify this with partials? -->   
    <div class="row align-center">
        <table class="unstyled">
            <tr>
                <td>
                    <!-- Crystallography construct -->
                    {{ $text := "Crystallography construct" }}
                    {{ $filename := print "images/icons/tep-stage-" .TEP.stages.crystallography_construct ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x88" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#ffffff"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 20
                    "font" $font
                    ))}}
                    {{ with $image }}
                        <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                    <br>
                    <!-- Assay construct -->
                    {{ $text := "Assay construct" }}
                    {{ $filename := print "images/icons/tep-stage-" .TEP.stages.assay_construct ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x88" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#ffffff"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 20
                    "font" $font
                    ))}}
                    {{ with $image }}
                        <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                </td>
                <td>
                    <!-- Biophysical assay -->
                    {{ $text := "Biophysical assay" }}
                    {{ $filename := print "images/icons/tep-stage-" .TEP.stages.biophysical_assay ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x55" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#ffffff"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 10
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                    <br>
                    <!-- Robust crystal -->
                    {{ $text := "Robust crystals" }}
                    {{ $filename := print "images/icons/tep-stage-" .TEP.stages.robust_crystal ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x55" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#ffffff"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 10
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                    <br>
                    <!-- Biochemical assay -->
                    {{ $text := "Biochemical assay" }}
                    {{ $filename := print "images/icons/tep-stage-" .TEP.stages.biochemical_assay ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x55" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#ffffff"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 10
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                </td>
                <td>
                    <!-- X-ray fragment screen -->
                    {{ $text := "X-ray fragment screen and structural analysis" }}
                    {{ $filename := print "images/icons/tep-stage-" .TEP.stages.fragment_screen ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x180" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#ffffff"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 60
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                </td>
                <td>
                    <!-- Compound design and TEP evaluation -->
                    {{ $text := "Compound design and TEP validation" }}
                    {{ $filename := print "images/icons/tep-stage-" .TEP.stages.tep_evaluation ".png"}}
                    {{ $image := resources.GetMatch $filename }}
                    {{ $image := $image.Resize "300x180" }}
                    {{ $image = $image.Filter (images.Text $text (dict
                    "color" "#ffffff"
                    "size" $fontsize
                    "linespacing" 2
                    "x" 10
                    "y" 60
                    "font" $font
                    ))}}
                    {{ with $image }}
                      <img title="{{ $text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                    {{ end }}
                </td>
            </tr>
            
        </table>
    </div>
    <br>

    <!-- 
    {{ with .TEP.gene }} {{ printf "**Gene:** [%s](https://www.ncbi.nlm.nih.gov/protein/%s)" . . | markdownify }} {{ end }} |
    {{ with .TEP.uniprot }} {{ printf "**Uniprot:** [%s](https://www.uniprot.org/uniprotkb/%s)" . . | markdownify }} {{ end }} |
    {{ with .TEP.EC }} {{ printf "**EC:** [%s](https://www.genome.jp/dbget-bin/www_bget?ec:/%s)" . . | markdownify }} {{ end }} <br>
    -->

    <!-- Header information -->
    <div class="prettybox warning" data-component="prettybox"> 
    <b>Target Nominator:</b> {{ .TEP.nominator }} <br>
    <b>Target PI:</b> {{ .TEP.investigator }} <br>
    <b>Therapeutic Area(s):</b> {{ .TEP.therapeutic_area }} <br>
    <b>Disease Relevance:</b> {{ .TEP.disease_relevance }} <br>
    <b>Viral family:</b> {{ .TEP.asap.viral_family }} <br>
    <b>Viruses:</b> {{ .TEP.asap.viruses }} <br>
    <b>Authors:</b> {{ with .TEP.contributors }}{{ delimit . ", "}}{{ end }} <br> 
    </div>
    
    <div class="prettybox success" data-component="prettybox"> 
        <h4>Summary of Project</h4>
        {{ .TEP.summary | markdownify }} 
    </div>
    
    <div class="prettybox focus" data-component="prettybox">
        <h4>Scientific Background</h4>
        {{ .TEP.scientific_background | markdownify }}
    </div>

    <div class="prettybox error" data-component="prettybox">
        <h4>Conclusion</h4>
        {{ .TEP.conclusion | markdownify }}
    </div>

    <h4>Resources</h4>

    {{ $resource_index := 0 }}
    {{ range .TEP.resources }}
    {{ $resource_index = add $resource_index 1 }}

    <div class="prettybox" data-component="prettybox">
        <div class="container">
            <div class="row"> 
              <div class="col-1" style="display: flex;  align-items: center;">
                <a href="{{ .url }}"><img title="Molecules" width="{{ $icon_width }}" src="../img/icons/{{ .type }}.png"></a>
              </div>
              <div class="col-11">                
                <b> {{ .name | markdownify }}</b> <br>
                {{ with .description }} {{ . | markdownify }} <br> {{ end }}

                {{ .url | markdownify }}
                <cite>[ {{ .date }} ]</cite> 
                <br>

                {{ with .protocol }} 
                <button data-component="toggleme" data-target="#togglebox-protocol-{{ $TEP_index }}-{{ $resource_index }}" data-text="Hide Protocol">Protocol</button>
                <div id="togglebox-protocol-{{ $TEP_index }}-{{ $resource_index }}" class="hide">
                    <cite> {{ . | markdownify }} </cite>
                </div>
                {{ end }}                

                {{ with .details }} 
                <button data-component="toggleme" data-target="#togglebox-details-{{ $TEP_index }}-{{ $resource_index }}" data-text="Hide Details">Details</button>
                <div id="togglebox-details-{{ $TEP_index }}-{{ $resource_index }}" class="hide">
                    {{ . | markdownify }}
                </div>
                {{ end }}                

            </div>
            </div>
        </div>
    </div>

    {{ end }}


{{ end }}