{{ $icon_width := 40 }}
{{ $stage_width := 100 }}
{{ $font := resources.GetRemote "https://github.com/google/fonts/raw/main/apache/roboto/static/Roboto-Black.ttf" }}
{{ $fontsize := 26 }}

<!-- Get TEP in-progress status -->
{{ $TEP_status := getCSV "," "https://docs.google.com/spreadsheets/d/e/2PACX-1vQit4u7d3lBlnX0Tu79Ep6pxSLiCvDn1PppulKgs5-C0SM0jlT9C491wstbZAJk7nm5BhJUlc9Op1gA/pub?gid=125511302&single=true&output=csv" }}

<!-- TODO: How should we sort the target data? -->
{{ range $.Site.Data.outputs.TEPs }}
    {{ partial "TEP.html" .TEP }}

{{ end }}