<!-- TODO: How should we sort the target data? -->
{{ range $.Site.Data.targets }}
    <!-- Render TPP for the target-->
    {{ if eq .TPP.status "completed" }}
        <!-- TODO: Render anchor -->
        <a id="{{ .TPP.anchor }}"></a>
        <!-- {{ .TPP.content | markdownify }} -->

        <!-- format as striped table -->
        {{ $htmlTable := .TPP.content | markdownify }}
        {{ $class := "table table-striped table-bordered"}}
        {{ $old := "<table>" }}
        {{ $new := printf "<table class=\"%s\">" $class }}
        {{ $htmlTable := replace $htmlTable $old $new }}
        {{ $htmlTable | safeHTML }}

        {{ end }}
{{ end }}