{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
  <div id="main">
    <div id="hero">
      <h1> {{ .Title}} </h1>
      <p class="hero-lead">
           {{ .Params.bref | safeHTML }}
      </p>
      <!-- This button appeared even on pages it was not supposed to, so it is disabled for now -->
      <!-- <a class="button primary big" href="/scarab/scarab_export_cleaned.csv" download="scarab_export_ASAP.csv" >Download pre-TEP Scarab export (csv)</a> -->
    </div> 
    <div id="kube-component" class="content">
    {{ partial "toc" .}}
    
    {{ .Content}}
<!-- Inject script tag in this template  -->
    {{if .Params.script}}
     {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
    {{ partial (string $script) .}}
    {{end }}
    </div>
    </div>
{{ end }}
