<!-- Photo -->
<div class="row gutters">
<div class="col col-2">
  <img src=../members/img/people/{{ .img }}>
</div>
<!-- Info -->
<div class="col col-9">
  <h4><b>{{ .name }}</b>
  {{ with .twitter }} <a href="http://twitter.com/{{ . }}"><img width="20" src="../members/img/icons/twitter.png"></a> {{ end }}
  {{ with .github }} <a href="http://github.com/{{ . }}"><img width="20" src="../members/img/icons/github.png"></a> {{ end }}
  </h4>
  <p>
    <b>{{ .role }}</b><br>
    {{ .title }}, {{ .institution }}<br>
    {{ with .webpage }} web: <a href={{ . }}>{{ . }}</a><br> {{ end }}
    {{ with .ORCID }} ORCID: <a href="https://orcid.org/{{ . }}">{{ . }}</a> {{ end }}
    {{ with .google_scholar }} | <a href="{{ . }}">Google Scholar</a> {{ end }}
    <i>{{ .description | markdownify }}</i>
  </p>
</div>
</div>
<hr>